//Colores
/* RGB */
$dark-turquoise: rgba(26, 83, 92, 1);
$turquoise: rgba(78, 205, 196, 1);
$light-turquoise: #beece9;
$white: rgba(247, 255, 247, 1);
$red: rgba(255, 107, 107, 1);
$yellow: rgba(255, 230, 109, 1);
$rose:#FFBFBF;
$grey:#f8f8f8;
$black: #000;
$light-blue:#beece9;
//$blue: rgba(78, 205, 196, 1);

//fuentes
$small:16px;
$medium:20px;
$big:48px;

$large-padding: 10px 15px;
$big-padding: 20px 30px;

$default-margin-top: 30px;
$big-margin-top:90px;

$border-radius:4px;
