body{
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
}
header{
  background-color: #071826;
  color:#F2F2F0;
  text-align: center;
  padding: 16px;
}
h1{
  display: inline-block;
  width: 400px;
  font-weight: 700;
}
section{
  margin-bottom: 20px;
}
h3{
  font-size: 36px;
  font-weight: 700px;
}
header p{
  display: inline-block;
  width: 400px;
  font-weight: 200;
}

.eslogan{
  background-color: #567D8C;
  color:#F2E3D5;
  text-align: center;
  padding: 10px;
}

.contenido{
  width: 900px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;

}
.bloque{
  margin-top:45px;
  padding-right: 30px;
  margin-bottom: 10px;
}
.formacion{
  display: inline-block;
  width: 68%;
  vertical-align: top;
}
.foto{
  display: inline-block;
  width: 30%;
  vertical-align: top;
  margin-top:20px;
}
.foto img{
  width: 75%;
  margin: 0 auto;
}
.experiencia{
  display: inline-block;
  width: 68%;
  vertical-align: top;
}
.habilidades{
  display: inline-block;
  width: 30%;
  vertical-align: top;
}
.habilidades ul{
  margin-left:30px;
}
dl dt{
  font-size: 22px;
  text-transform: uppercase;
  margin-bottom:12px;
  margin-top: 36px;
}
dd{
  margin:0px;
}

ul{
  margin-top:12px;
  padding: 0px;
}

ul li{
  margin-top:16px;
}
